@import '~@angular/material/theming';

.container {
    padding: 5px;
    .drafting-item {
        @include mat-elevation(2);
        border-width: 2px;
        border-style: solid;
        border-radius: 5px;
        &.BAN {
            border-color: var(--primary-color);
            background-color: var(--primary-lighter-color);
            height: 40%;
            width: 24%;
        }
        &.PICK {
            border-color: var(--accent-color);
            background-color: var(--accent-lighter-color);
            height: 60%;
            width: 36%;
        }
    }
}
